<ng-container *ngIf="categories$ | async as categories">
    <div class="container mt-5">
        <form>
            <div class="form-group row">
                <label for="colFormLabel" class="col-md-2 col-form-label">Select a category:</label>
                <div class="col-sm-10">                    
                    <select name="jokecats" 
                            id="category" 
                            [(ngModel)]="selectedCategory" 
                            (change)="getJokeCategory()"
                            class="form-control">
                        <option *ngFor="let category of categories" [value]="category">
                            {{ category }}
                        </option>
                    </select>
                </div>
            </div>
            
            <ng-container *ngIf="categoryJoke$ | async as categoryJoke">                
                <div class="col-md-12 border text-center">                    
                    <h4>{{ categoryJoke?.value }}</h4>
                </div>
            </ng-container>            
        </form>                
    </div>
</ng-container>