<ng-container *ngIf="categories$ | async as categories">
    <div class="container mt-5">
        <div class="row border align-items-center">
            <div class="col-md-2 no-gutters">
                <label for="jokecats" class="label">Select a category:</label>
            </div>
            <div class="col-md-2 form-group">
                <select name="jokecats" id="category" [(ngModel)]="selectedCategory" (change)="getJokeCategory()"
                    class="custom-select">
                    <option *ngFor="let category of categories" [value]="category">
                        {{ category }}
                    </option>
                </select>
            </div>
            <ng-container *ngIf="categoryJoke$ | async as categoryJoke">
                <div class="col-md-8">
                    <h4>{{ categoryJoke?.value }}</h4>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>