<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">{{title}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/home']"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/random']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Random Chuck Norris Joke</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/categories']"
         routerLinkActive="active">Joke categories</a>
    </li>
    <li class="nav-item" id="chuckAPI">
      <a class="nav-link"
         (click)="goToUrl()"
         routerLinkActive="active">Go to the Chuck Norris API</a>
    </li>
  </ul>  
</nav>
<div class="container"
     [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">  
  <router-outlet #o="outlet"></router-outlet>
</div>